/* Header */
.title {
  font-size: 48px;
  margin-left: 1vw;
  margin-top: 40px;
  white-space: nowrap;
}

.text {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 2vw;
  white-space: nowrap;
}

.vl1 {
  border-left: 3px solid #53ee7f;
  height: 80px;
  margin-top: 20px;
  margin-left: 45vw;
}

.vl2 {
  border-left: 3px solid #53ee7f;
  height: 80px;
  margin-top: 20px;
  margin-left: 2vw;
}

.hl1 {
  border-top: 3px solid #53ee7f;
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

/* Body */
.header-options {
  font-size: 30px;
  color: #53ee7f;
  background-color: #373838;
  margin-left: 40px;
  border: none;
  white-space: nowrap;
}

.title2 {
  font-size: 40px;
  margin-top: 70px;
  margin-left: 30px;
  white-space: nowrap;
}

.title3 {
  font-size: 40px;
  margin-top: 70px;
  white-space: nowrap;
}

.title4 {
  font-size: 30px;
  white-space: nowrap;
}

.text2 {
  font-size: 24px;
  width: 40vw;
}

.text3 {
  font-size: 20px;
  color: #b6b6b6;
  margin-left: 20px;
  margin-top: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  margin: 10px 20px;
}

.column1, .column2 {
  width: 47%;
  margin-left: 100px;
}

.subcol1-1, .subcol1-2 {
  margin-top: -40px;
  width: 25vw;
}

.hl2 {
  border-top: 3px solid #6e6e6e;
  width: 700px;
  margin-top: 20px;
  margin-left: 30px;
}

.hl3 {
  border-top: 3px solid #53ee7f;
  width: 95vw;
  margin-top: 60px;
  margin-left: 2.5vw;
}

.imageBox {
  width: 625px;
  height: 250px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.image {
  width: 300px;
  height: 150px;
}

.textBoxWrapper {
  position: relative;
}

.textBox {
  width: 625px;
  height: 250px;
  margin-left: 60px;
  padding: 5px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
}

.textBox::placeholder {
  text-align: center;
  line-height: 250px;
}

.UrlBar {
  width: 460px;
  height: 40px;
  border: 2px solid #b6b6b6;
  color: #b7b7b7;
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.button {
  margin-top: 20px;
  margin-left: 30px;
  width: 150px;
  height: 45px;
  background-color: rgb(83, 238, 127);
  color: #ffffff;
  border-radius: 20px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Choice Box */
.detector-choice {
  margin-top: 20px;
  margin: 1vw;
  width: 43vw;
  height: 60px;
  border: #ffffff;
  background-color: #8a8a8a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detector-chosen {
  margin-top: 20px;
  margin: 1vw;
  width: 43vw;
  height: 60px;
  border: #ffffff;
  background-color: #53ee7f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-net {
  margin-top: 20px;
  margin-left: 4vw;
  width: 90vw;
  height: 80px;
  border: #ffffff;
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Community */

.community-text {
  font-size: 30px;
  margin-left: 3vw;
  margin-top: 0px;
  width: 35vw;
}

.community-button {
  width: 50vw;
  height: 175px;
  background-color: #53ee7f;
  color: #ffffff;
  margin-left: 45vw;
  border-radius: 20px;
}

.community-title {
  color: #ffffff;
  margin-left: 20px;
}

.community-text2 {
  color: #ffffff;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

/* Feature */
.feature-box {
  background-color: rgb(83, 238, 127);
  color: #ffffff;
  margin-top: 30px;
  margin-left: 2vw;
  width: 22vw;
  height: 500px;
  border-radius: 20px;
}

.feature-title {
  color: #ffffff;
  margin-left: 20px;
}

.feature-text {
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
}

/* How it works */
.works-title {
  color: #53ee7f;
  font-size: 20px;
}
